module/*.o
module/*.cmd
module/.tmp_versions/
module/Module.symvers
module/modules.order
module/niagara.ko
module/niagara.mod.c
module/pci_cards.inc
user_api/util

# backup files
*~

# vim temp files
*.swp

# all ixgbe sources
ixgbe*
